{% extends 'base.html.twig' %}

{% block title %}Crud!{% endblock %}

{% block body %}

    {% if login %}
        <div id="Login"></div>
    {% else %}
        <div id="Register"></div>
    {% endif %}
{% endblock %}
