body {
    overflow:hidden;
    background-color: #2F3136;
}
.pt-03{
    margin-top: 3px;
}
.pt-25{
    margin-top: 12px;
}
.smallT{
    font-size: 13px;
}
.lGray{
    color: #bababa;
}
.gray{
    color: #919191;
}
.white{
    color: white;
}
.dWhite{
    color: #C2C2C2;
}
.blue{
    background-color: #7289DA;
}
.heebo{
    font-family: 'Heebo', sans-serif;
}
.scaleHover{
    transition: 0.3s;
    cursor: pointer;
}
.scaleHover:hover{
    transform:scale(1.05,1.05);

}

.none:hover{
    transition: 0s;
    text-decoration: none;
    color: inherit;
}
/* leftside groups */
.left{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100vh;
    background-color: #202225;
}
::-webkit-scrollbar {
    display: none;
}
.scroller{
    position: relative;
    width: 100%;
    height: 88%;
    overflow-y:auto;
    scrollbar-width: none;
    padding-bottom: 40px;
}
.cScroll{
    z-index: 10;
    height: 75%;
}
.group{
    position: relative;
    left: 7px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: 0.5s;
    text-align: center;
}
.group:hover .circle{
    height: 30px;
    top: 15px;
}
.group:hover .groupImage{
    border-radius: 20%;
}
.group:hover{
    border-radius: 20%;
}
.groupIcon{
    position: relative;
    top:10px;
    font-size: 40px;
    color: #43B581;
}
.groupImage{
    position: absolute;
    left: 0;
    width: 60px;
    transition: 0.3s;
    border-radius: 50%;
}
.first{
    background-color: #2F3136;
}
.first:hover{
    background-color: #7289DA;
}
.add{
    background-color: #2F3136;
}
.add:hover{
    color: white;
    background-color: #43B581;
}
.add:hover .groupIcon{
    color:white;
}
.circle {
    position: absolute;
    left: -30px;
    top: 20px;   
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}
.leftLine{
    background-color: #2F3136;
    height: 3px;
    width: 50%;
}
.mainImage{
    position: relative;
    width: 80%;
    margin: 10%;
}

/* middleside Contacts */
.middle{
    position: fixed;
    left: 100px;
    top: 0px;
    width: 250px;
    height: 100vh;
    background-color: #2F3136;
}
.topSearch{
    height: 50px;
    text-align: center;
}
.search{
    position: relative;
    top: 20%;
    width: 90%;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #202225;
}
.search:focus, .barInput:focus{
    outline:none;
}
.me{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 12;
    background-color: #202225;
    color: white;
}
.MeName{
    font-size: 15px;
    width: 250%;
    margin: 0px
}
.MeIcon{
    position: relative;
    top: 8px;
    font-size: 25px;
    display: inline-block;
    margin-left: 15px;
    transition: 0.3s;
}

.MeIcon:hover .info{
    transform: scale(1,1);
    opacity: 1;
}
.info{
    position: absolute;
    left:-300%;
    display: inline-flex;
    font-size: 20px;
    background-color: #202225;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    min-width: 100px;
    transition: 0.3s;
    pointer-events:none;
    z-index: 50;
}
.topInfo{
    top: -200%;
}
.bottomInfo{
    bottom: -200%;
}
.BerichText{
    color: #8a8a8a;
}
.contactRow{
    position: relative;
    width: 95%;
    height: 40px;
    left: 2.5%;
    border-radius: 5px;
    color: #8a8a8a;
}
.contactRow:hover{
    background-color: #36393F;
}
.icon{
    font-size: 25px;
}
.name{
    font-size: 18px;
}
.contactLine{
    position: relative;
    background-color:#202225;
    height: 1px;
    margin: 5px 0px 10px 00px;
}
.profileImage{
    position: relative;
    border-radius: 50%;
    width: 30px;
}
.status{
    position:absolute;
    top: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;    /* moet later nog worden gezet via de status */
}

/* rightside chat */
.right{
    position: fixed;
    left: 350px;
    top: 0px;
    min-width: 100vw;
    z-index: -1;
    height: 100vh;
    background-color: #36393F
}
.topHeader{
    position: absolute;
    width: 105%;
    left: -2%;
    padding-left: 2%;
    height: 55px;
    background-color: #36393F;
    box-shadow: 0 4px 1px -2px #202225;
}
.leftHeader{
    position: relative;
    left: 0;
    width: 65%;
    display: inline-block;
}
.RightHeader{
    position: fixed;
    right: -4%;
    top: 10px;
    width: 25%;
    display: inline-block;
}
.messages{
    position: relative;
    top:56px;
    width: 100%;
    height: 88%;
    overflow-y: scroll;
    padding-bottom: 40px;
}
.writeBar{
    position: fixed;
    bottom: -5px;
    width: 100%;
    height: 75px;
    background-color: #36393F;
    padding-bottom: 100px;
}
.bar{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 80%;
    height: 45px;
    border-radius: 5px;
    background-color: #40444B;
}
.barInput{
    border: none;
    height: 30px;
    width: 90%;
    font-size: 18px;
    padding: 5px;
    background-color: #40444B;
    resize: none;
    display: inline-block;
    overflow: hidden;
}
.darkInput{
    background-color:#2F3136;
}
.barIcon{
    position: relative;
    display: inline-block;
    font-size: 30px;
    transition: 0.3s;
}
.barIcon:hover{
    color:white;
}

/*Message*/
.message{
    position: relative;
    width: 100%;
    padding: 32px 0px 20px 0px;
    margin-top: 15px;
    transition: 0.1s;
}
.message:hover{
    background-color: #303030;
}
.messageImage{
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 10px;
    left: 10px;
    display: inline-block;
}
.messageText{
    position: relative;
    left: 70px;
    width: 60%;
    display: inline-block;
}
.messageIfo{
    position: absolute;
    top: 3px;
    left: 70px;
}


/*Login Page*/

.vak{
    position: relative;
    top: 220px;
    left: 320px;
    width: 800px;
    height: 400px;
    background-color: #36393F;
    border-radius: 10px;
}
.vak2{
    top: 80px;
    width: 400px;
    height: 550px;
}
.loginInput{
    position: relative;
    top: -10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
}

.forgot{
    color: #7289DA;
}

.forgot:hover{
    text-decoration: underline;
    color: #7289DA;
}

.qrCode{
    position: relative;
    top: 70px;
    left: 40px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


/* friends */
.friend{
    position: relative;
    width: 70%;
    left: 2%;
    padding: 32px 0px 20px 0px;
    margin-top: 15px;
    transition: 0.1s;
    border-bottom: 1px solid #40444B;
}
.friend:hover{
    border-radius: 5px;
    background-color: #40444B;
}
.rightFriend{
    position: absolute;
    right: 2%;
    top: 5%;
}
.friendCircle{
    position: relative;
    background-color: #303030;
    margin: 10px;
    width: 45px;
    top: 0;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    z-index: 10;
    transition: 0.3s;
    text-align: center;
    font-size: 30px;
    color: #777;
}
.friendCircle:hover{
    background-color: #2F3136;
    color: white;
}
.FriendBar{
    position: relative;
    left: 50px;
    top: 10px;
    width: 60%;
    height: 45px;
    border-radius: 5px;
    background-color: #2F3136;
}

/* settings */
.leftSettings{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 600px;
    height: 100vh;
    background-color: #2F3136;
}
.rightSettings{
    position: fixed;
    left: 600px;
    top: 0px;
    min-width: 100vw;
    z-index: -1;
    height: 100vh;
    background-color: #36393F;
}
.stickRight{
    position: absolute;
    right: 0%;
    top: 0%;
    height: 100%;
    width: 200px;
    opacity: 0.5;
}
.option{
    position: relative;
    left: 20px;
    width: 170px;
    height: 35px;
    padding-left: 5px;
    font-size: 18px;
    border-radius: 5px;
    color: #EFEFEF;
    border: none;
    transition: 0.3s;
}
.optionLogout{
    color: #FF0000;
    background-color: rgba(246, 107, 74, 0.1);
}
.optionLogout:hover{
    background-color: rgba(246, 107, 74, 0.3);
}
.optionNormal:hover{
    background-color: #454545;
}
.optionTitle{
    color: white;
}
.optionLine{
    width: 100%;
    height: 1px;
    background-color: white;
}
.back{
    position: fixed;
    top: 1%;
    right: 3%;
    color: #777;
    font-size: 300%;
    transition: 0.3s;
}
.back:hover{
    color: white;
}
.optionImage{
    position: relative;
    left: 0;
    top: 0;
    z-index: 50;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
}
.profileVak{
    position: relative;
    left: 30px;
    width: 600px;
    /* width: 500px; */
    height: 280px;
    border-radius: 5px;
    background-color: #2F3136;
}
.InnerImage{
    height: 100%;
    width: 100%;
    border-radius: inherit;
}
.innerOptions{
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 45%;
    background-color: #36393F;
    border-radius: inherit;
}
.bewerken{
    position: relative;
    left: 20px;
    width: 100px;
    height: 35px;
    border: 10px;
    border-radius: 5px;
    padding-top: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #40444B;
}

.verwijder{
    width: 150px;
    border: 2px solid #DD2222;
    background-color: inherit;
    color: #DD2222;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
.fullB{
    background-color: #DD2222;
    color: white;
}
.inputOverlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    z-index: 100;
    background-color: rgba(10, 10, 10, 0.8);
}
.overlayVak{
    position: fixed;
    text-align: center;
    padding-top: 10px;
    top: 35%;
    left: 40%;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    background: #2F3136;
}